In [1]:
import pandas as pd

In [2]:
PPoll=pd.read_csv(r"C:\Users\mrpre\Documents\School\2018-19Bootcamp\Done\3CB\03HWPython\Instructions\PyPoll.csv")
PPoll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
a=PPoll.groupby(["Voter ID"])["Voter ID"].count()
a

Voter ID
10000002    1
10000006    1
10000032    1
10000044    1
10000051    1
10000054    1
10000056    1
10000071    1
10000075    1
10000076    1
10000092    1
10000104    1
10000112    1
10000114    1
10000129    1
10000130    1
10000145    1
10000152    1
10000176    1
10000178    1
10000195    1
10000211    1
10000232    1
10000238    1
10000249    1
10000262    1
10000265    1
10000270    1
10000277    1
10000281    1
           ..
19999653    1
19999696    1
19999730    1
19999733    1
19999742    1
19999758    1
19999771    1
19999776    1
19999778    1
19999782    1
19999807    1
19999817    1
19999819    1
19999826    1
19999827    1
19999842    1
19999854    1
19999875    1
19999877    1
19999908    1
19999910    1
19999925    1
19999930    1
19999931    1
19999947    1
19999956    1
19999957    1
19999968    1
19999981    1
19999985    1
Name: Voter ID, Length: 1048575, dtype: int64

In [4]:
b=PPoll.groupby(["Candidate"])["Candidate"].count()
b

Candidate
Correy      209046
Khan        661583
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [8]:
c=pd.DataFrame({'PCV': PPoll.groupby(('Candidate')).size()/len(PPoll)})
c

                PCV
Candidate
Correy     0.199362
Khan       0.630935
Li         0.139580
O'Tooley   0.030123